<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand mr-auto" [routerLink]="['/home']">SHC</a>
    <div class="btn-group" dropdown *ngIf="loggedIn()">
      <button
        id="button-animated"
        dropdownToggle
        type="button"
        class="btn btn-secondary dropdown-toggle"
        aria-controls="dropdown-animated"
      >
        Report <span class="caret"></span>
      </button>
      <ul
        id="dropdown-animated"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-animated"
        routerLinkActive="active"
      >
        <li role="menuitem">
          <a class="dropdown-item" [routerLink]="['/report/getReportDataPass']"
            >GetReportData_Pass</a
          >
        </li>
        <li role="menuitem">
          <a class="dropdown-item" [routerLink]="['/report/queryPDModel']"
            >QueryPDModel</a
          >
        </li>
        <li role="menuitem">
          <a class="dropdown-item" [routerLink]="['/report/getNoOperationList']"
            >GetNoOperationList</a
          >
        </li>
        <li role="menuitem">
          <a class="dropdown-item" [routerLink]="['/report/attendanceList']"
            >AttendanceList
          </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item" [routerLink]="['/report/queryChangeWorker']"
            >QueryChangeWorker</a
          >
        </li>
      </ul>
    </div>

    <div class="dropdown show" dropdown *ngIf="loggedIn()">
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome {{ authService.decodedToken?.unique_name | titlecase }}
      </a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <!--
        <a class="dropdown-item" [routerLink]="['/member/edit']"
          ><i class="fa fa-user"></i> Edit Profile</a
        >
        -->
        <div class="dropdown-diver"></div>
        <a class="dropdown-item" (click)="logout()"
          ><i class="fa fa-sign-out"></i> Logout</a
        >
      </div>
    </div>
  </div>
</nav>
