<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">SHC</a>
    <div class="btn-group" dropdown>
      <button id="button-animated" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle"
              aria-controls="dropdown-animated">
        Report <span class="caret"></span>
      </button>
      <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-animated" routerLinkActive="active">
        <li role="menuitem"><a class="dropdown-item" [routerLink]="['/getReportDataPass']">GetReportData_Pass</a></li>
        <li role="menuitem"><a class="dropdown-item" [routerLink]="['/queryPDModel']">QueryPDModel</a></li>
        <li role="menuitem"><a class="dropdown-item" [routerLink]="['/getNoOperationList']">GetNoOperationList</a></li>
        <li role="menuitem"><a class="dropdown-item" [routerLink]="['/attendanceList']">AttendanceList </a></li>     
        <li role="menuitem"><a class="dropdown-item" [routerLink]="['/queryChangeWorker']">QueryChangeWorker</a></li>    
      </ul>
    </div>

    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/members']">Mathces</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/lists']">Lists</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']">Messages</a>
      </li>
    </ul>
    <!--
    <div  class="dropdown show" dropdown>
      <span class="mr-1">
        <img src="{{ photoUrl }}" alt="" />
      </span>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome {{ authService.decodedToken?.unique_name | titlecase }}
      </a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/member/edit']"
          ><i class="fa fa-user"></i> Edit Profile</a
        >
        <div class="dropdown-diver"></div>
        <a class="dropdown-item" (click)="logout()"
          ><i class="fa fa-sign-out"></i> Logout</a
        >
      </div>
    </div>

    <form
      *ngIf="!loggedIn()"
      #loginForm="ngForm"
      class="form-inline my-2 my-lg-0"
      (ngSubmit)="login()"
    >
      <input
        class="form-control mr-sm-2"
        type="text"
        name="account"
        #account="ngModel"
        placeholder="account"
        required
        [(ngModel)]="model.account"
      />
      <input
        class="form-control mr-sm-2"
        type="password"
        name="password"
        #password="ngModel"
        placeholder="password"
        required
        [(ngModel)]="model.password"
      />
      <button
        [disabled]="!loginForm.valid"
        class="btn btn-success my-2 my-sm-0"
        type="submit"
      >
        Login
      </button>
    </form>
  --></div>
</nav>
